body {
    width: 950px;
    margin: 0 auto;
    padding: 0;
}

.tabs__block {
    border: 1px solid #C9C9C9;
    box-sizing: border-box;
    border-radius: 89px;
    width: 164.59px;
    height: 13px;
}

.tabs__wrapper {
    height: 450px;
}

.ui-widget.ui-widget-content {
    background: #FFFFFF;
    box-shadow: 4px 4px 8px 0 rgba(119, 187, 0, 0.2);
    border-radius: 12 px;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    display: flex;
    // padding: 8.2px -23.8px 0px;
    justify-content: space-around;
    background-color: #FFFF;
    width: 727px;
    margin: 66px 0px 23px 0px;
    padding: 0.2em 0.2em 0;
    border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 27px;
    padding-top: 0px;
    border-radius: 99px;
    background-color: green;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px 0.2em 0 0;
    padding: 0;
    white-space: nowrap;
    border-radius: 97px;
    height: 17px;
}